:local(.className) {
    button {
        width: 30px;
        color: white;
        background-color: red;
        display: flex;
    }
    .count {
        font-size: 20px;
        margin-left: 20px;
        color: blue;
    }

    :global {
        .title {
            color: yellow;
        }
    }
}

